@use "../modules" as *;

.about {
    padding: 0;
    @include breakpoint(tablet) {
        padding: px(25);
    }
    h2 {
        font-size: px(50);
        line-height: px(50);
    }
    span {
        font-weight: bold;
    }

    &__height {
        // height: 400px;
        @include breakpoint(tablet) {
            // height: 400px;
        }
    }

    .sql__content {
        height: 200px;
        @include breakpoint(tablet) {
            height: 200px;
        }
        @include breakpoint(desktop) {
            height: 130px;
        }
    }

    &__2ndgrid {
        display: grid;
        grid-template-rows: auto auto;
        margin-inline: auto;
        justify-items: normal;
        align-items: start;
        gap: px(20);
        width: min(100% - px(40), px(1140));
        grid-template-columns: repeat(1, 1fr);

        @include breakpoint(tablet) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__mainCopy {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        p {
            font-weight: 400;
            color: $colour-darkest;
            font-size: px(27);
            margin-top: px(20);
            @include breakpoint(tablet) {
                font-size: px(30);
            }
        }
        h2 {
            font-weight: 800;
            font-size: px(45);
            @include breakpoint(tablet) {
                font-size: px(50);
            }
        }
        a {
            margin-top: px(20);
        }
    }
    &__profile {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            @include imagefit(px(320));
        }
    }
    &__skills {
        position: absolute;
        $anim-drt: 2.9s;
        $anim-ease: cubic-bezier(0.6, 0.05, 0.15, 0.95);
        animation: bouncing $anim-drt alternate infinite $anim-ease;
    }
    &__download {
        button {
            margin-bottom: px(20);
        }
    }

    @keyframes bouncing {
        0% {
            transform: translate3d(0, 10px, 0) scale(0.9, 1);
        }

        100% {
            transform: translate3d(0, 50px, 0) scale(0.9, 1);
        }
    }

    &__json {
        margin-top: px(30);
        border-top: 1px solid $colour-darkest;
        display: flex;
        gap: 0;
        flex-direction: column;
        align-items: flex-start;

        p {
            font-size: px(15);
        }

        h3 {
            margin-top: px(80);
            font-size: px(14);
            font-weight: bolder;
        }
    }
    &__menu {
        display: flex;
        justify-content: center;
        gap: px(10);
        @include breakpoint(tablet) {
            justify-content: flex-start;
        }
    }
}

.rooms {
    background-color: red;
}

.info__img {
    img {
        width: 100%;
        height: 100%;
    }
}
