@use "../modules" as *;
.bully {
    color: #136274;
    background-color: #d7e7dd;
}
.elin {
    color: #4e2c2a;
    background-color: #f2ecdc;
}

.bully,
.elin {
    img {
        width: 100%;
        height: auto;
    }
    h2 {
        margin: px(30) 0 px(30);
        font-size: px(40);
        font-weight: bold;
        @include breakpoint(tablet) {
            font-size: px(45);
        }
        @include breakpoint(desktop) {
            font-size: px(50);
        }
    }
    h3 {
        font-size: px(20);
        font-weight: bold;
        @include breakpoint(tablet) {
            font-size: px(22);
        }
        @include breakpoint(desktop) {
            font-size: px(25);
        }
    }
    p {
        font-size: px(14);
        font-weight: 500;
        line-height: px(20);
        @include breakpoint(tablet) {
            font-size: px(15);
        }
        @include breakpoint(desktop) {
            font-size: px(16);
        }
    }
}

.bully {
    &__grid {
        display: grid;
        grid-template-rows: auto auto;
        margin-inline: auto;
        justify-items: normal;
        align-items: start;
        gap: px(20);
        width: min(100% - px(40), px(1140));
    }
    &__app {
        margin-top: px(30);
        display: grid;
        grid-template-rows: auto auto;
        margin-inline: auto;
        justify-items: normal;
        align-items: start;
        gap: px(20);
        grid-template-columns: 1fr;
        @include breakpoint(tablet) {
            grid-template-columns: 1fr 2fr;
        }
        img {
            width: 100%;
        }
    }
    &__app-img {
        display: flex;
    }
    &__ads {
        display: grid;
        grid-template-rows: auto auto;
        margin-inline: auto;
        justify-items: normal;
        align-items: start;
        gap: px(20);
        grid-template-columns: 1fr;

        p {
            margin: px(20) 0 px(30);
        }
        @include breakpoint(tablet) {
            grid-template-columns: 1fr 1fr;
        }
    }
}

.vid {
    margin-bottom: px(30);
    background-color: white;
    color: $colour-white;
    h3 {
        font-size: px(30);
        line-height: px(30);
    }
    p {
        font-size: px(18);
        margin: px(30) 0;
    }
    video {
        width: 100%;
        height: 3 60px;
        object-fit: cover;
        @include breakpoint(tablet) {
            height: 410px;
        }
        @include breakpoint(desktop) {
            height: 460px;
        }
    }
    &__grid {
        background-color: $colour2;
        display: grid;
        margin-inline: auto;
        align-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        justify-items: center;
        width: min(100%, px(1140));
        @include breakpoint(tablet) {
            grid-template-columns: 2fr 1fr;
        }
    }
    &__controls {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: px(10);
        img {
            height: px(20);
        }
    }
    &__content {
        margin: px(20);
    }
}

.elin {
    &__grid {
        display: grid;
        grid-template-rows: auto auto;
        margin-inline: auto;
        justify-items: normal;
        align-items: start;
        gap: px(20);
        width: min(100% - px(40), px(1140));
    }
    &__colour {
        display: grid;
        margin-inline: auto;
        align-items: end;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        justify-items: center;
        gap: px(20);
        @include breakpoint(tablet) {
            grid-template-columns: 1fr 1fr;
        }
    }
    &__logo {
        margin-top: px(50);
        display: grid;
        align-items: end;
        grid-template-columns: 1fr;
        justify-items: start;
        grid-template-rows: auto auto;
        gap: px(20);
        @include breakpoint(tablet) {
            grid-template-columns: 1fr 1fr;
        }
        p {
            margin: px(20) 0;
        }
    }
    &__social {
        margin-top: px(50);
        display: grid;
        align-items: start;
        grid-template-columns: 1fr;
        justify-items: start;
        grid-template-rows: auto auto;
        gap: px(20);
        @include breakpoint(tablet) {
            grid-template-columns: 1fr 1fr;
        }
        h3 {
            margin-bottom: px(40);
        }
    }

    &__vid {
        margin-bottom: px(20);
    }
}
.brown {
    background-color: #4c2f2e !important;
}
.brown2 {
    color: #4c2f2e !important;
}
