@use "../modules" as *;

.lbcolour1 {
    background-color: #0f4d51;
}
.lbcolour2 {
    background-color: #05008b;
}
.lbcolour3 {
    background-color: #465e04;
}
.lbcolour4 {
    background-color: #4d4d4d;
}
.lbcolour5 {
    background-color: #604a53;
}
.lbcolour6 {
    background-color: #476475;
}

.lightbox {
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    // background-color: rgba(0, 0, 0, 1);
    z-index: 5000;
}

.lightbox_close {
    position: absolute;
    z-index: 6000;
    top: 20px;
    left: 50%;
    cursor: pointer;
}

.lightbox_close:hover {
    // opacity: 0.7;
    transform: scale(-1, 1);
}

.lightbox article {
    color: white;
}

.lb_text,
.lb_heading {
    text-align: left;
}

.lb_text {
    line-height: 1.6 !important;
    margin-left: 0;
    padding-top: 2em;
}

.port-cantaier {
    position: relative;
}

.content {
    img {
        @include imagefit(px(660));
    }
    display: grid;
    grid-template-rows: auto auto;
    margin-inline: auto;
    justify-items: normal;
    align-items: stretch;

    width: min(100%, px(1140));
    grid-template-columns: 1fr;
    @include breakpoint(desktop) {
        grid-template-columns: 3fr 1fr;
    }
    &__copy {
        display: flex;
        flex-direction: column;
        gap: px(10);
        color: white;
        // background-color: $colour-darkest;
        @include breakpoint(tablet) {
            flex-direction: row;
        }
        @include breakpoint(desktop) {
            flex-direction: column;
        }
        h3,
        h4,
        p {
            margin-left: px(20);
        }
        h3 {
            margin: px(20);
        }
        h4 {
            margin: 0 0 0 px(20);
        }
    }
    &__image {
        background-color: black;
    }
}

.top-margin {
    margin-top: px(20);
}
