@use "../modules" as *;

#services {
    border-top: 1px solid $colour-headerline;
}

.services {
    padding: px(20) 0;
    background-color: $colour-light1;

    img {
        height: px(50);
    }
    &__container {
        display: grid;
        grid-template-rows: auto auto;
        margin-inline: auto;
        justify-items: normal;
        align-items: start;
        gap: px(20);
        width: min(100% - px(40), px(1000));
        grid-template-columns: repeat(1, 1fr);
        @include breakpoint(tablet) {
            grid-template-columns: repeat(3, 1fr);
            gap: px(20);
        }
    }
    &__box {
        cursor: pointer;
        // margin: 0 px(40);
        border-radius: px(20);
        height: px(250);
        background-color: white;
        @include breakpoint(tablet) {
            margin: 0;
            height: px(240);
        }

        img {
            margin: px(20);
        }
        h3 {
            font-size: px(20);
            margin: 0 px(20);
            color: $colour-darkgray;
        }
        p {
            color: $colour-darkest;
            margin: 0 px(20);
            font-size: px(15);
        }
    }
    &__box:hover {
        box-shadow: rgba(90, 84, 97, 0.095) 0px 10px 20px,
            rgba(56, 50, 50, 0.1) 0px 0px 1px;
        @include transitionEase;
        h3 {
            color: $colour-darkest;
        }
    }
}
