@use "../modules" as *;

.playVid {
    position: relative;

    img {
        cursor: pointer;
        height: px(21);
        margin-right: px(12);
    }
    display: grid;
    grid-template-rows: auto auto;
    margin-inline: auto;

    width: min(100%, px(1000));
    video {
        @include imagefit(px(320));
        @include breakpoint(tablet) {
            @include imagefit(px(400));
        }
        @include breakpoint(desktop) {
            @include imagefit(px(563));
        }
    }
    #controls {
        display: flex;
        position: absolute;
        left: px(20);
        bottom: px(10);
    }
}
