<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Jerome Fernandez Portfolio</title>
        <script
            src="https://kit.fontawesome.com/62e3d456b9.js"
            crossorigin="anonymous"
        ></script>

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Noto+Serif:wght@400;700&display=swap"
            rel="stylesheet"
        />

        <link rel="stylesheet" href="css/main.css" />
    </head>
    <body>
        <h1 class="hidden">Jerome Portfolio</h1>
        <header class="header head-colour">
            <nav id="sidenav">
                <a href="#">About Me</a>
                <a href="#">Services</a>
                <a href="#">Portfolio</a>
                <a href="#">Contact Me</a>
            </nav>

            <nav class="header__nav">
                <!-- grid 1 logo icon-->
                <div class="header__logo">
                    <img src="images/jf-logo.svg" alt="jerome logo" />
                </div>
                <!-- grid 2 -->
                <a id="btnHamburger" href="#" class="header__burger">
                    <span></span>
                    <!-- for easier to click on menu -->
                    <div></div>
                </a>
                <!-- grid 3 -->
                <div class="header__links">
                    <a href="#">About Me</a>
                    <a href="#services">Services</a>
                    <a href="#app">Portfolio</a>
                    <a href="#contact">Contact Me </a>
                </div>
                <!-- grid 4 -->
                <div class="header__social">
                    <!-- <h3>sdlkfjlsadkj</h3> -->
                    <i class="fa-brands fa-linkedin"></i>
                    <i class="fa-brands fa-github"></i>
                    <i class="fa-brands fa-square-behance"></i>
                </div>
            </nav>
        </header>

        <main>
            <!-- about -->
            <section class="about">
                <div class="about__grid">
                    <div class="about__2ndgrid">
                        <!-- grid1 -->
                        <div class="about__height about__mainCopy">
                            <div>
                                <p>Let's make</p>
                                <h2>Amazing product for your business</h2>
                                <!-- <a class="btn" href="#page2">Lets Talk</a> -->
                            </div>
                            <div class="about__height about__json">
                                <div>
                                    <div class="about__menu intro__buttons">
                                        <button
                                            data-name="first"
                                            class="sql-btn"
                                        >
                                            About
                                        </button>
                                        <button
                                            data-name="second"
                                            class="sql-btn"
                                        >
                                            Education
                                        </button>
                                        <button
                                            data-name="third"
                                            class="sql-btn"
                                        >
                                            Skills
                                        </button>
                                        <button
                                            data-name="fourth"
                                            class="sql-btn"
                                        >
                                            Experience
                                        </button>
                                    </div>

                                    <div class="sql__content">
                                        <h3 class="hidden">My information</h3>
                                        <h4>About me</h4>
                                        <p>
                                            I enjoy solving problems as well as
                                            making things pretty and easy to
                                            use. I can't stop learning new
                                            things and am meticulous about
                                            details. My background is Digital
                                            Imaging Specialist and learning
                                            Interactive Media Design at Fanshawe
                                            College. With my core skill in
                                            Digital Imaging, I have an enormous
                                            advantage when it comes to coding
                                            and video editing.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- grid2 -->
                        <div class="about__height about__profile">
                            <div>
                                <img src="images/main-image.png" alt="" />
                            </div>
                            <div class="about__height about__skills sql__img">
                                <img src="images/animation1.svg" alt="games" />
                            </div>
                        </div>
                        <!-- grid3 -->
                    </div>
                </div>
            </section>

            <section class="headline bgcl1" id="services">
                <p>Services</p>
                <h2>My Awesome Services</h2>
            </section>

            <!-- Services -->
            <section class="services">
                <h2 class="hidden">My services</h2>
                <div class="services__container">
                    <div class="services__box">
                        <img
                            src="images/services-web.svg"
                            alt="web development"
                        />
                        <h3>Web Development</h3>
                        <p>
                            Landing Pages, User Flow, Wireframing, Prototyping,
                            Mobile App Design, Web App
                        </p>
                    </div>
                    <div class="services__box">
                        <img
                            src="images/services-uxui.svg"
                            alt="UI/UX Design"
                        />
                        <h3>UI/UX Design</h3>
                        <p>
                            HTML/CSS, JavaScript, Animation, Responsive Website
                        </p>
                    </div>
                    <div class="services__box">
                        <img src="images/services-branding.svg" alt="" />
                        <h3>Braning Design</h3>
                        <p>
                            Brochures, Calling Cards, Magazines, Web Posting,
                            Billboards, Logo Design, Video Editing
                        </p>
                    </div>
                </div>
            </section>

            <!-- Demo -->
            <section class="headline bgcl2" id="demo">
                <p>Demo</p>
                <h2>Demo Reel</h2>
            </section>

            <!-- video -->
            <section class="playVid">
                <div id="video" class="video-control">
                    <video src="Videos/demo-reel.mp4" controls></video>
                </div>

                <div id="controls">
                    <div id="play">
                        <img src="images/video-play.svg" alt="play icon" />
                    </div>
                    <div id="pause">
                        <img src="images/video-pause.svg" alt="pause icon" />
                    </div>
                    <div id="restart">
                        <img src="images/video-reset.svg" alt="reset icon" />
                    </div>
                    <div>
                        <img src="images/video-volume.svg" alt="volume icon" />
                    </div>

                    <div id="volumeControl">
                        <input
                            type="range"
                            min="0"
                            max="100"
                            value="50"
                            id="volumeSlider"
                        />
                    </div>
                </div>
            </section>

            <!-- Portfolio -->
            <div id="app">
                <section class="headline bgcl2">
                    <p>Portfolio</p>
                    <h2>My Previous Works</h2>
                </section>

                <section class="port-cantaier">
                    <nav id="character-nav">
                        <ul class="portfolio">
                            <theherothumb
                                @loadlbdata="loadLightbox"
                                v-for="hero in heroData"
                                :hero="hero"
                            ></theherothumb>
                        </ul>
                    </nav>

                    <thelightbox
                        @closelightbox="this.showLB=false"
                        v-if="showLB"
                        :item="lbData"
                    ></thelightbox>
                </section>
            </div>

            <!-- FORMS-->
            <section class="form-bg" id="contact app">
                <div class="forms">
                    <h2 class="hidden">Forms</h2>
                    <div class="forms__copy">
                        <div class="forms__head">
                            <p>Let's Connect</p>
                            <h3>Get in Toch!</h3>
                            <p>
                                I'm always happy to hear about exiting
                                opportunities and build valuable connections!
                            </p>
                        </div>
                        <div id="responseContainer">
                            <h4>Hi there,</h4>
                            <h4>Fill the form!</h4>
                            <h3 id="php-copy"></h3>
                        </div>
                    </div>
                    <div>
                        <form
                            class="container__form"
                            action="scripts/send.php"
                            method="POST"
                            id="app"
                            v-if="errors.length > 0"
                        >
                            <label for="firstname">First Name</label>
                            <input
                                v-model.trim="firstname"
                                ref="firstname"
                                type="text"
                                id="firstname"
                                name="firstname"
                                required="required"
                            />

                            <label for="lastname">Last Name</label>
                            <input
                                v-model.trim="lastname"
                                ref="lastname"
                                type="text"
                                id="lastname"
                                name="lastname"
                                required
                            />

                            <label for="email">Email</label>
                            <input
                                v-model.trim="email"
                                ref="email"
                                type="email"
                                id="email"
                                name="email"
                                required
                            />

                            <label for="message">Your Message</label>
                            <textarea
                                v-model.trim="msg"
                                ref="message"
                                name="message"
                                id="message"
                                cols="30"
                                rows="10"
                            ></textarea>

                            <div>
                                <div class="wrapper">
                                    <input
                                        @click.prevent="processMail"
                                        type="submit"
                                        class="submit"
                                        value="Go!"
                                    />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </main>
        <footer>
            <div class="footer">
                <nav class="footer__nav">
                    <li class="footer__links">
                        <a href="#">About Me</a>
                        <a href="#services">Services</a>
                        <a href="#app">Portfolio</a>
                        <a href="#contact">Contact Me </a>
                    </li>

                    <div class="footer__logo">
                        <div>
                            <img
                                src="images/jf-logo-light.svg"
                                alt="jerome logo"
                            />
                        </div>
                    </div>
                </nav>
            </div>
        </footer>
        <script src="js/video.js"></script>
        <script src="js/sql.js"></script>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="js/main.js" type="module" defer></script>
    </body>
    <footer></footer>
</html>
